:root {
    --white: #ffffff;
    --black: #191809;
    --gray: #39393A;
    --pink: #CD8B76;
    --light-yellow: #E1D89F;
    --yellow: #F6D532;
    --bubble-gum: #F8C7CC;

    --accent: var(--yellow);
    --plain: var(--white);
}

html,
body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Rubik', serif;
}